<launch>
  <master auto="start"/>

  <!--- Base & Lidar -->
  <include file="$(find wpr2_bringup)/launch/base_lidar.launch" />

  <!-- Map Server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find wpr2_tutorials)/maps/map.yaml"/>

  <!-- AMCL定位（二选一） -->
  <include file="$(find wpr2_tutorials)/nav_lidar/amcl_omni.launch" />

  <!-- 纯激光定位（二选一） -->
  <!-- <node pkg="jie_ware" type="lidar_loc" name="lidar_loc" >
      <param name="base_frame" value="base_footprint" />
      <param name="odom_frame" value="odom" />
      <param name="laser_frame" value="laser" />
      <param name="laser_topic" value="scan" />
  </node> -->

  <!--- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base"  output="screen">
    <rosparam file="$(find wpr2_tutorials)/nav_lidar/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find wpr2_tutorials)/nav_lidar/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find wpr2_tutorials)/nav_lidar/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find wpr2_tutorials)/nav_lidar/global_costmap_params.yaml" command="load" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner" /> 
    <param name="use_dijkstra" value="true"/>
    <param name="base_local_planner" value="wpr2_local_planner/Wpr2LocalPlanner" />

    <param name= "controller_frequency" value="10" type="double"/>
    <param name= "oscillation_timeout" value="10" type="double"/>
    <param name= "oscillation_distance" value="0.1" type="double"/>
  </node>

  <!-- Map tools  -->
  <node pkg="waterplus_map_tools" type="wp_manager" name="wp_manager" output="screen">
    <param name="load" type="string" value="/home/robot/waypoints.xml"/> 
  </node>
  
  <!-- WP_navi_server  -->
  <node pkg="waterplus_map_tools" type="wp_navi_server" name="wp_navi_server" output="screen"/>

  <!-- RViz and TF tree -->
  <arg name="model" default="$(find wpr2_description)/urdf/wpr2.urdf.xacro"/>
  <arg name="gui" default="false" />
  <arg name="rvizconfig" default="$(find waterplus_map_tools)/rviz/nav.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <node pkg="wpr2_tutorials" type="wpr2_nav_arms" name="wpr2_nav_arms" output="screen"/>
  <node pkg="wpr2_bringup" type="wpr2_panel.py" name="wpr2_panel"/>

</launch>