<launch>

  <!-- wpr2 core-->
  <node pkg="wpr2_bringup" type="wpr2_core" name="wpr2_core" output="screen">
    <param name="serial_port" type="string" value="/dev/ftdi"/> 
    <rosparam file="$(find wpr2_bringup)/config/wpr2.yaml" command="load" />
  </node>
  
  <!-- calibrate -->
  <node pkg="wpr2_bringup" type="wpr2_calibrate_velocity" name="wpr2_calibrate_velocity" output="screen" required="true"/>

</launch>